@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: #0e0e40;
  padding: 100;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header h2 a {
  color: white;
  text-decoration: none;
}

header h2 a:hover {
  color: #ef3a5d;
}
